<h2>About</h2>
<p>
  1 Zintegrowane systemy informatyczne 1.1 Istota zintegrowanych systemów
  informatycznych w zarządzaniu przedsiębiorstwem. 5 W obecnych czasach z trudem
  jest znaleźć przedsiębiorstwo, które nie korzystałoby z technologii
  informatycznych. w większych firmach jest ona kluczem do sprawnego
  zarządzania. Możemy dzięki niej zaplanować i obsługiwać produkcje
  i zaopatrzenie, przechowywać i operować na dokumentach księgowych oraz
  kadrowych, operować na danych niezbędnych do prowadzenia kampanii
  marketingowych, wspomagać planowanie w zakresie zarówno operacyjnym,
  taktycznym czy strategicznym. Dodatkowo możemy odnaleźć korzyści
  w funkcjonowaniu technologii informatycznych w wspomaganiu dystrybucji
  i sprzedaży. Każdy z systemów a nawet i procesów występujących w jednostce
  opiera się na informacji przekazywanej między pracownikami, podwładnymi
  a kierownictwem a nawet między jednostką a otoczeniem. Informacją otaczamy się
  każdego dnia a poprawne jej przekazanie może być wymogiem do efektywnego
  zarządzania przedsiębiorstwem, czasem lub finansami. Wspomaganiem operowania
  nad informacją zajmuje się system informacyjny, którego definicję można
  przytoczyć z internetowej encyklopedii zarządzania. „System informacyjny można
  określić jako posiadającą wiele poziomów strukturę pozwalającą użytkownikowi
  na przetwarzanie, za pomocą procedur i modeli, informacji wejściowych
  w wyjściowe. Informacje są zbierane, przetwarzane, przechowywane, analizowane
  i przesyłane dla uzyskania określonych celów.” 1 System informacyjny jest więc
  systemem, który ma za zadanie przetwarzać przekazywanie informacji. Podobnie
  sprawa ma się w przypadku systemu informatycznego, który jest (szczególnie
  w XXIw.) nierozerwalną częścią systemu informacyjnego. Autorzy książki
  „Współczesne systemy informatyczne i ich zastosowanie” zauważają, że systemy
  informatyczne to: „System Informatyczny - to część systemu przetwarzania
  danych, który zawiera się w systemie informacyjnym. System informatyczny
  realizowany jest dzięki technologii komputerowej, celem, którego jest
  wspieranie procesów zarządzania w przedsiębiorstwie. Dobrze działający system
  powinien prawidłowo wykonywać zadania w zakresie pozyskiwania, przetwarzania,
  gromadzenia i udostępniania informacji.” 2 Gdy mamy już świadomość czym jest
  system informatyczny można podjąć się tematu właściwego pracy, czyli
  zintegrowanym systemom informatycznym. Jeśli chodzi o definicje 1 Sławomir
  Wawak, Joanna Krupa, „System informacyjny”, Encyklopedia Zarządzania, dostęp
  on-line: https://mfiles.pl/pl/index.php/system_informacyjny, aktualizacja:
  22.01.2021 2 A. Kapczyński, S. Smugowski, „Współczesne systemy informatyczne i
  ich zastosowanie’’, Polskie Towarzystwo Informatyczne, wydawnictwo PTI oddział
  górnośląski, Katowice 2010, s. 28 6 ZSI zarządzania można odnaleźć
  w literaturze, że są to „modułowo zorganizowane systemy informatyczne” 3 .
  Zatem takie które łączą swoje funkcje tak aby informacje z różnych działów
  przedsiębiorstwa mogły być ze sobą wymieniane bez konieczności specjalnej
  ingerencji w systemie użytkownika. Dodatkowo w czasopiśmie Logistyka autorki
  definiują ZSI jako: „[…] system, który wspiera procesy podejmowania decyzji
  i zarządzania firmą lub organizacją za pomocą komputerów. Dostęp do funkcji
  systemu jest możliwy dla każdego użytkownika z poziomu jego stanowiska. Dane,
  które są wprowadzane do systemu aktualizują się w czasie rzeczywistym, dzięki
  czemu są one widoczne dla każdej osoby mającej do niego dostęp.” 4 Zauważyć
  należy zatem, że niezwykle istotna jest dostępność każdej upoważnionej osoby
  do zasobów systemu. Nie potrzebny byłby przecież system z modułem produkcji
  czy księgowości do którego dostęp miałby tylko zarząd lub taki który nie byłby
  aktualizowany na bieżąco. Procesy w przedsiębiorstwie przebiegają w tak
  szybkim tempie, że niezwykle ważna jest aktualizacja danych dla wszystkich
  modułów jednocześnie. Potrzebę integrowania ze sobą danych zauważono już pod
  koniec lat 50 dwudziestego wieku. Zauważono wtedy, że powielanie informacji
  dla każdego z sektorów przedsiębiorstwa jest pracochłonne i mało efektywne.
  Działania nad ulepszeniem pracy w systemie informatycznym wspierającym
  zarządzanie rozwijano etapowo przez różne klasy systemu informatycznego: 56 -
  systemy ewidencyjno-transakcyjnych SET (ang. Transaction Processing Systems)
  które miały za zadanie przetwarzać dane źródłowe. Nie wspomagają one
  bezpośrednio procesów decyzyjnych choć mogą być pomocne przy podejmowaniu
  decyzji rutynowych. - systemy informacyjne zarządzania SID (ang. Management
  Information Systems) działają one na podstawie znormalizowanej relacyjnej bazy
  danych mają one gromadzić i organizować przepływ informacji dla sprawnego
  dostępu i prezentowania danych w postaci raportów. - systemy wspomagania
  podejmowania decyzji SWD (ang. Decision Support Systems), służące
  bezpośredniemu zwiększeniu efektywności podejmowania decyzji. 3 G. Gunia,
  „Zintegrowane systemy informatyczne przedsiębiorstw w kontekście przemysłu
  4.0”, Katedra Inżynierii Produkcji, Akademia Techniczno-Humanistyczna w
  Bielsku-Białej, Bielsko-Biała 2019, s.1 4 B. Galińska, J. Kopania,
  „Zastosowanie systemu ERP w przedsiębiorstwie logistycznym”, w: Czasopismo
  Logistyka (2016, nr. 6), s. 1 5 P. Adamczewski, „Zintegrowane systemy
  informatyczne w praktyce”, Wydawnictwo MIKOM Warszawa 2000s. 15 6 A. Barczak,
  J. Florek, T. Sydoruk, „Projektowanie zintegrowanych systemów informatycznych
  zarządzania”, Wydawnictwo Akademii Podlaskiej, Siedlce 2006, s.39. 7 - systemy
  eksperckie - do ich funkcji należą „interpretacja danych, przewidywanie
  konsekwencji decyzji, diagnostyka, zalecenie działań naprawczych,
  projektowanie rozwiązań, monitoring, sterowanie zachowaniem systemu, uczenie -
  przechowywanie i wykorzystywanie nabywanej wiedzy”. 7 - Systemy informowania
  kierownictwa SIK – (ang. Executive Information Systems) ułatwia kierownikom
  otrzymywanie wybranych informacji o organizacji. - Systemy sztucznej
  inteligencji SSI – (ang. Artificial Intelligence Systems) utożsamiane
  z systemami sieci neuronowych SSN. - Zintegrowane systemy informatyczne – ZSI
  (ang. Integrated Management Information Systems) – najbardziej zaawansowana
  pod względem merytorycznym i technologicznym.
</p>
