<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="opened">
    <div class="drawer-content">
      <div>
        <div *ngIf="showFiller">
          <form>
            <mat-form-field>
              <mat-label>Login</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput />
            </mat-form-field>
          </form>
        </div>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
      </div>
      <div class="footer">
        <p>Made by Ola & MW. Pozdro</p>
      </div>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <app-map></app-map>
  </div>
</mat-drawer-container>
