.container {
  height: calc(100% - 64px);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  width: 300px;

  .drawer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer {
      border-top: 1px solid black;
      padding-top: 10px;
      text-align: center;
    }
  }
}
