@use '../../assets/styles/vars' as vars;

.wrapper {
  padding: 10px;
  overflow: auto;
  height: calc(100dvh - vars.$overlay-height);

  @media screen and (max-width: 599px) {
    height: calc(100dvh - vars.$overlay-height-sm);
  }
}

mat-card {
  margin-bottom: 10px;
}

mat-card:last-of-type {
  margin-bottom: 0;
}
