:host {
  z-index: 5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 2px 2px 5px black;

  h1 {
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }

  .version {
    font-size: 0.6em;
    vertical-align: bottom;
  }

  .actions {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 10px;
    }

    .btn-text {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
